XMLProject/book_xsd.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="chapter">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="paragraph">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="line">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute name="lineID" type="xs:long" use="required" />
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="paragraphID" type="xs:long" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="chapterID" type="xs:long" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="statistics">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="paragraphs" type="xs:long" />
              <xs:element name="lines" type="xs:long" />
              <xs:element name="words" type="xs:long" />
              <xs:element name="distinctWords" type="xs:long" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>